body {
    font-family: 'Poppins';
    background-color:black ;
}

h1 {
    text-align: center;
    color: white;
    font-size: 3rem;
    line-height: 80vh;
}

span {
    opacity: 0;
    display:inline-block;
    transform:translateY(50px);
    transition: all 1s ease;

}

span.fade {
    opacity: 100;
    transform:translateX(0px);
}